<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io/favicon-16x16.png">
    <title>Home page</title>
</head>
<body>
    <h1>Welocome to store dashboard</h1>
    <div>
        <ul>
            {% if not is_loggedin %}
            <li>
                <a href="../login">Login</a>
            </li>
            {% else %}
            <li>
                <a href="../store/sales">Show data</a>
            </li>
            <li>
                <a href="../logout">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
    
</body>
</html>